@font-face {
    font-family: "Lato" !important;
    src:  url('./fonts/lato-v20-latin-regular.woff2') format('woff2'),
    url('./fonts/lato-v20-latin-regular.woff') format('woff') !important;
  }

.MuiTableCell-root {
    font-family: url("./fonts/lato-v20-latin-regular.woff2") !important;


}
.MuiTable-root {
    border-collapse: collapse !important;
    margin: 25px 0 !important;
    font-size: 0.9em !important;
    min-width: 400px !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15) !important;
    border-radius: 25px !important;
}

.MuiTable-root thead tr {
    color: #ffffff !important;
    text-align: left !important;
}

.MuiTable-root th,
.MuiTable-root td {
    padding: 12px 15px !important;
}

.MuiTable-root  tbody tr {
    border-bottom: 2px solid #dddddd !important;
}

.MuiTable-root tbody tr:nth-of-type(even) {
    background-color: #f3f3f3 !important;
}

.MuiTable-root  tr:last-of-type {
    border-bottom: 2px solid #6C7AE0  !important;
}


button.CRUD {

    border-radius: 8px !important;
    background-color: #6C7AE0 !important; /* Green */
    border: none !important;
    color: white !important;
    padding-right: 6px !important;
    text-align: center !important;
    margin: 2px;
}

